Orcade/leadlag-PSpiceFiles/SCHEMATIC1/lea/lea.dat
Orcade/noise_SINE-PSpiceFiles/SCHEMATIC1/noise_trans/noise_trans.dat
Orcade/sine_noise-PSpiceFiles/SCHEMATIC1/mul_sine_noise/mul_sine_noise.dat
Orcade/leadlag-PSpiceFiles/SCHEMATIC1/lea/lea.dat
Orcade/noise_SINE-PSpiceFiles/SCHEMATIC1/noise_trans/noise_trans.dat
Orcade/sine_noise-PSpiceFiles/SCHEMATIC1/mul_sine_noise/mul_sine_noise.dat
